<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummarizePro Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="app">
        <div id="sidebar">
            <div id="logo">
                <img src="/images/logo.png" alt="SummarizePro Logo">
                <h2>SummarizePro</h2> 
            </div>
            <nav>
                <ul>
                    <li><a href="#" class="link">Home</a></li>
                    <li><a href="#" class="link">UserPage</a></li>
                    <li><a href="#" class="link">ContactUs</a></li>
                </ul>
            </nav>
            <div id="logout" class="logout-bottom"> 
                <button onclick="location.href='/logout';">Logout</button>
            </div>
        </div>

        <div id="main-content">
            <!-- Content header with buttons and search -->
            <script>
                function uploadFile() {
                    
                    document.getElementById('fileInput').click();
                }
            </script>
            <div class="content-header">
                <button>New folder</button>
                <button onclick="uploadFile()">+ Create file</button>
                <input type="file" id="fileInput" style="display: none;">
                <button>Delete selected</button>
                <input type="search" placeholder="Search here">
            </div>
            <!-- File explorer area -->
            <div class="file-explorer">
                <div class="folder">Physics</div>
                <div class="folder">Chemistry</div>
                <div class="folder">Maths</div>
                <div class="file">Getting started</div>
            </div>

        </div>
    </div>
</body>
</html>
