
body {
    margin: 0;
    padding: 0;
    font-family: 'monospace', sans-serif;
    background: #f4f4f4;
}

#app {
    display: flex;
    min-height: 100vh;
}

#sidebar {
    width: 200px;
    background: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    display: flex;
    width: auto;
    height: 90px;
    text-align: center;
    margin-bottom: 30px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

nav{
    height: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul span{
    display: block;
    margin-bottom: 5px;
    border: 2px solid #777;
    width: 100%;
    padding-right: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

nav ul li{
    display: block;
}

nav ul li .home-sidebar {

    justify-content: start;
    width: 100%;
    text-align: left;
    align-items: baseline;

}
nav ul li .home-sidebar img{
    height: 100%;
    margin-right: 5px;
}

nav ul li a {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 80%;
    padding: 5px;
    margin-left: auto;
    margin-bottom: 5px;

    text-align: center;
    align-items: center;

    color: white;
    background-color: #555;
    text-decoration: none;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav ul li a:hover {
    background-color: #333;
    outline: #555 solid 1px;
}


#profile {
    position: relative;
    text-align: center;
    padding: 10px 0;
}

#profile .dropdown-btn {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background-color: #555;
    padding: 10px;
    border: none;
    cursor: pointer;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#profile .dropdown-btn img{
    width: 10%;
    margin-right: 5px;
}

#profile .dropdown-menu {
    display: none;
    position: absolute;
    top: auto;
    bottom: 85%;
    left: 0;
    background-color: #111;
    z-index: 1;
    width: 100%;
    padding: 10px 0;

    opacity: 0; /* Initially set the opacity to 0 */
    animation: fade-in 0.5s ease forwards; /* Apply the animation */

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#profile .dropdown-menu a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    vertical-align: bottom;

    width: 100%;
    height: 30px;
    text-decoration: none;
    color: white;
    padding: 10px 0;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#profile .dropdown-menu a:hover {
    background-color: #555;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#profile .dropdown-menu a img{
    height: 80%;
    margin-left: 10px;
}

#profile .dropdown-menu a span{
    display: inline-block;
    height: fit-content;
    margin-top: 5px;
}

#profile .dropdown-btn:focus + .dropdown-menu,  .dropdown-menu:hover{
    display: block;
    animation-play-state: running; /* Start the animation on hover */
}
@keyframes fade-in {
    0% {
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        opacity: 1; /* End with opacity 1 */
    }
}

#main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-header {
    display: flex;
    margin-bottom: 20px;
}

.content-header button{
    margin-right: 10px;
    color: #ddd;
    background-color: #333;
    border: none;
    font-size: 18px;
    padding: 10px;
    outline: 2px transparent solid;

    transition: all 0.5s;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.content-header button:hover{
    color: #333;
    background-color: #ddd;
    outline: 2px #333 solid;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.content-header div{
    display: inline-block;
    width: 50%;
    margin-left: auto;
    position: relative;
}
.content-header div::before {
    content: "";
    position: absolute;
    left: 10px; /* Adjust the position of the icon */
    top: 50%; /* Adjust the position of the icon */
    transform: translateY(-50%); /* Center vertically */
    width: 20px; /* Adjust the size of the icon */
    height: 20px; /* Adjust the size of the icon */
    background-image: url('/images/search.png'); /* URL to your icon */
    background-size: contain; /* Make sure the icon fits */
    background-repeat: no-repeat; /* Prevent the icon from repeating */
}
.content-header div input[type=search] {

    width: 100%;
    color: white;
    background-color: #333;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px;
    padding-left: 35px;

    transition: all 0.5s;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.content-header div input[type=search]:focus{
    color: black;
    background-color: white;
    outline: 2px #555 solid;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}


.traversal-detail{
    display: flex;
    padding: 20px;
    border-top: 1px solid black;

}

.traversal-detail input{
    width: 100%;
    color: white;
    background-color: #333;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}
.traversal-detail input:focus{
    border: none;
    outline: none;
}

.traversal-detail button{
    width: 50px;
    background-color: #333;
    border: none;
    border-right: solid 1px white;
    display: flex;
    justify-content: center;

    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.traversal-detail button:hover{
    background-color: #555;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.traversal-detail button:active{
    border: 2px solid white;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.traversal-detail button img{
    margin: auto;
    width: 80%;
}

.traversal-detail.file-page{
    border-top: none;
    padding: 0;
}
.traversal-detail.file-page input{
    width: 80%;
}
.traversal-detail.file-page .delete{
    align-items: center;
    color: white;
    text-align: center;
    margin-left: auto;
    background-color:#dd4b39;
    width: 8%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.file-explorer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.folder,
.file {
    background-color: gray;
    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    transition: all 0.4s; /* Add transition for smooth effect */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.folder span,
.file span {
    display: block;
    color: white;
    background-color: #333;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    transition: all 0.4s; /* Add transition for smooth effect */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

/* Add the following CSS for expanding on hover */
.folder:hover span,
.file:hover span {
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Show overflow content */

    transition: all 0.4s; /* Add transition for smooth effect */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.folder:hover span,
.file:hover span {
    white-space: wrap; /* Prevent text wrapping */
    overflow: visible; /* Allow overflow content to be visible */
    text-overflow: clip; /* Clip text that overflows the container */

    transition: all 0.4s; /* Add transition for smooth effect */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}


.folder:hover,
.file:hover {
    transition: all 0.4s;
    background-color: #333;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.file img{
    width: auto;
}
@keyframes blink {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

.file .processing {
    animation: blink 2s infinite;
}

@media (max-width: 768px) {
    #sidebar {
        flex-direction: row;
        justify-content: start;
        width: 100%;
        padding: 10px;
    }

    #main-content {
        padding: 10px;
    }

    .file-explorer {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .folder,
    .file {
        margin-bottom: 10px;
    }

}


/* Styles for the login page */
.login-wrapper {
    display: flex;
    min-height: 100vh;
}

.login-branding {
    flex: 1;
    background: #333; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-form-container {
    flex: 1;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-form{
    width: 50%;
}

.logo {
    max-width: 120px;
    margin-bottom: 1rem;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%; /* Full width of the form */
}

.form-group label {
    display: block;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.btn-login,
.btn-google-login {
    width: 100%;
    padding: 0.75rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.btn-login {
    background-color: #333; 
    color: white;
}

.btn-google-login {
    background-color: #dd4b39; 
    color: white;
}

.signup-link {
    text-align: center;
    margin-top: 1rem;
}

.signup-link a {
    color: #333;
    text-decoration: none;
}

@media (max-width: 768px) {
    .login-wrapper {
        flex-direction: column;
    }
}


#popupContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the popup is above other content */
}

.popupContent{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.popupContent .cancel-button{
    background: red;
    margin-top: 30px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.popupContent .create-button{
    background: lightgray;
    margin-top: 30px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s;
}

.popupContent button:hover{
    opacity: 0.5;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.popupContent h1{
    color: white;
    margin-top: 0;
    font-size: 25px;
}

.popupContent #uploadFileTitleLabel{
    color: white;
    font-size: 25px;
}
.popupContent #uploadFileTitle{
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-login #fileInput{
    display: block;
    background-color: lightgray;
    font-size: 20px;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.popupContent .fileInputLabel{
    width: fit-content;
    display: inline-flex;
    align-items: center;
    background-color: lightgray;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.popupContent .fileInputLabel:hover{
    background-color: white;
}
.popupContent .fileInputLabel img{
  width: 30px;
}
.popupContent .fileInputLabelName{
    color: white;
}

